extends layout

block content 
    link(rel='stylesheet', href='/stylesheets/add_drinks.css')
    h1 Add Drinks
    
    form(method='POST' action='')
        .form-wrapper
            div.form-group
                label(for='marke') Marke:
                input#marke.form-control(type='text', name='marke', placeholder='Fritz-Limo')

            div.form-group
                label(for='name') Name:
                input#name.form-control(type='text', name='name', placeholder='Zitrone')

            div.form-group
                label(for='alkoholisch') Alkoholisch:
                input#alkoholisch.form-control(type='checkbox', name='alkoholisch')

            div.form-group
                label(for='einkaufspreis') Einkaufspreis:
                input#einkaufspreis.form-control(type='number', name='einkaufspreis', step='0.01')

            div.form-group
                label(for='verkaufspreis') Verkaufspreis:
                input#verkaufspreis.form-control(type='number', name='verkaufspreis', step='0.01')

            div.form-group
                label(for='vorhandene_menge') Vorhandene Menge:
                input#vorhandene_menge.form-control(type='number', name='vorhandene_menge', value=0)

            div.form-group
                label(for='verkaufte_menge') Verkaufte Menge:
                input#verkaufte_menge.form-control(type='number', name='verkaufte_menge', value=0)

            div.form-group
                label(for='ablaufdatum') Ablaufdatum:
                input#ablaufdatum.form-control(type='date', name='ablaufdatum')

            div.form-group
                label(for='img_url') Bild URL:
                input#img_url.form-control(type='text', name='img_url')

            button.btn.btn-primary(type='submit') Submit
