doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .header_wrapper
        .header #{title}
        .login 
          a(href="/user/login") Login &#32; &#32; 
          a.register(href="/user/register") Register
          
      .sidebar 
        a(href="/drinks") All Drinks
        p 
        a(href="/drinks/add") Add Drink
      .content
        block content
